Repository tosin2013/qubinode_navigator: changes, and which GitLab CI jobs are due for each by the changed paths.
All: supermicro, equinix

.gitlab-ci.yml:

stages:
  - supermicro
  - equinix

# supermicro deployment
supermicro:
  stage: supermicro
  only:
    changes:
      - inventories/supermicro/*
  trigger:
    # Include the configuration file of the child pipeline
    include: inventories/supermicro/.gitlab-ci.yml
    # With this strategy, the parent only succeed if the child succeed too
    

# equinix deployment
equinix:
  stage: equinix
  only:
    changes:
      - inventories/equinix/*
  trigger:
    include: inventories/equinix/.gitlab-ci.yml

testing
  inventories/supermicro/group_vars/all.yml
Due: none

correcting git repo
  inventories/supermicro/.gitlab-ci.yml
  setup.sh
Due: supermicro

udpating code
  inventories/equinix/.gitlab-ci.yml
  inventories/supermicro/.gitlab-ci.yml
Due: supermicro, equinix

updating two codes
  inventories/supermicro/.gitlab-ci.yml
  setup.sh
Due: supermicro

updating inventory
  inventories/supermicro/.gitlab-ci.yml
Due: supermicro

updating script
  setup.sh
Due: none

updating code
  inventories/supermicro/.gitlab-ci.yml
Due: supermicro

updating scripts
  setup.sh
Due: none

updating code
  setup.sh
Due: none

update python script
  load-variables.py
Due: none

updating env
  load-variables.py
Due: none

test
  setup.sh
Due: none

testing
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

rest
  .gitlab-ci.yml
Due: none

updating inventory path
  load-variables.py
Due: none

updating code
  .gitlab-ci.yml
  bash-aliases/configure-kcli.sh
  inventories/equinix/.gitlab-ci.yml
Due: equinix

updating code
  .gitlab-ci.yml
Due: none

updating code
  applications/freeipa/.gitlab-ci.yml
  rocky-linux-hypervisor.sh
Due: none

updating code
  README.md
  docs/developers.rst
  rocky-linux-hypervisor.sh
  setup.sh
Due: none

updating files
  inventories/equinix/group_vars/all.yml
  rocky-linux-hypervisor.sh
Due: none

updating code
  inventories/equinix/.gitlab-ci.yml
Due: equinix

updating code
  rocky-linux-hypervisor.sh
  setup.sh
Due: none

testing
  setup.sh
Due: none

updating code
  applications/freeipa/.gitlab-ci.yml
Due: none

updating pipeline
  applications/freeipa/.gitlab-ci.yml
Due: none

take two
  applications/freeipa/.gitlab-ci.yml
Due: none

update
  applications/freeipa/.gitlab-ci.yml
Due: none

updating code
  bash-aliases/configure-freeipa-workshop-deployer.sh
  bash-aliases/random-functions.sh
  rocky-linux-hypervisor.sh
  setup.sh
Due: none

updating setup commands
  bash-aliases/setup-commands.sh
Due: none

updates
  bash-aliases/configure-freeipa-workshop-deployer.sh
  bash-aliases/random-functions.sh
  bash-aliases/setup-commands.sh
  setup.sh
Due: none

updating cicd pipeline
  applications/freeipa/.gitlab-ci.yml
Due: none

new pipelines
  .github/workflows/base-build-deploy-ee.yml
  .github/workflows/build-deploy-ee.yml
Due: none
